.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff7ed;
  color: #000;
  padding: 0 30px;
  font-size: 1rem;
}
.navbar a.activeLink {
  font-weight: bold;
  color: #161616;
}

.navbar ul li a {
  text-decoration: none;
  color: #4d4d4d;
}

.navbar ul li a:hover {
  color: #161616;
}

.navbar h1 a {
  font-weight: 800;
  color: #333;
}
.navbar h1 a:hover {
  color: #161616;
}
