.vans {
    flex-grow: 1;
    padding: 20px;
    display: grid;
    margin: 110px auto 70px;
  }
  
  .vans-header {
    font-size: 1.75rem;
    color: #000;
    text-align: center;
    margin: 10px 0;
  }
  
  .vans-filter {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
  }
  
  .vans-filter > span {
    background-color:  #FFF7ED;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
  }
  
  .vans-filter > a {
    cursor: pointer;
    font-size: 0.8rem;
  }
  .card-container{
   display: grid;
    /* Improved layout for header, filter, and cards */
    grid-template-columns: 1fr; /* One column for small screens */
   
    gap: 20px; /* Space between grid items */
  }
  .vans-filter > span:hover{
    background-color: #faebd7;;
  }
  .vans-filter > a:hover{
    border-bottom: 1px solid #000;
    color: #000;
  }
  
  @media only screen and (min-width: 660px) {
    .card-container
    {
      grid-template-columns: 1fr 1fr; /* Two columns for medium screens */
    }
  }
  @media only screen and (min-width: 1024px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
    }
  }
  
  @media only screen and (min-width: 1400px) {
    .card-container {
      grid-template-columns: repeat(4, 1fr); /* Three columns for larger screens */
    }
  }
  