.vanpage {
  flex-grow: 1;
  padding: 30px;
  width: 100%;
  margin: 110px auto 0;
  background-color: #fff7ed;
  color: #000;
}
.vanpage > a {
  color: #000;
  cursor: pointer;
}
.vanpage > a > i {
  margin-right: 10px;
}

.vanpage > a:hover {
  font-weight: 600;
  text-decoration: underline;
}
.van-img {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}
.van-title {
  font-size: 1.5rem;
  margin: 20px 0 0px;
}
.van-pc {
  font-size: 1rem;
  color: #333;
}

.van-content {
  font-size: 0.9rem;
  margin: 20px 0;
}
.van-rent-btn {
  margin-top: 10px;
  background-color: #ff8c38;
  border: 0;
  outline: none;
  padding: 15px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
